<div class="container-fluid bg-ch text-center ">
    <div class="mb-1 text-light paddh">
        <h3 class="mb-2">
            Chat Application
        </h3>
        <!--  <div class="btn-group btn-group-justified">
            <a (click)='goTo("Component2")' class="btn btn-primary btn-xl">User 1</a>
            <a (click)='goTo("Component3")' class="btn btn-primary btn-xl">User 2</a>
        </div>-->
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 chat-bg">
        <h1 class="ch-t">User 1</h1>
        <app-component2></app-component2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 chat-bg">
            <h1 class="ch-t">User 2</h1>
        <app-component3></app-component3>
    </div>

</div>
